<a href="https://colab.research.google.com/github/rahular09062001/Google_Colab_Codes/blob/main/swayam_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Lecture Materials

Lecture Material 3: https://drive.google.com/drive/folders/1zFiUu8QmJQMhHsSEVCIA74hrmsHe7LP9

Lecture Material 4: https://drive.google.com/drive/folders/1yDZuKdN8oytQFfqlJjTly0oPsusBZEPM

Lecture Material 5: https://drive.google.com/drive/folders/14JNdFpV2vp3CxOtJNW4Zu6o8yPa30dSF

Lecture Material 6: https://drive.google.com/drive/folders/1yuOqesGHNV7vA1D0FrOgTnPuZ-rvQ_Mp

Lecture Material 7:
https://drive.google.com/drive/folders/1T5WhFawBWj5AZNf4C5AoOldQHH86NtVo

Lecture Material 8: https://drive.google.com/drive/folders/1gCzKda30G2TK_nI0QkdjZ9NgY3GAUKSB

Lecture Material 9:
https://drive.google.com/drive/folders/1gCzKda30G2TK_nI0QkdjZ9NgY3GAUKSB

# Basic Syntax, Variable and Data Types

In [ ]:
num1=num2=num3=4

print(num1,num2,num3)

4 4 4

In [ ]:
num1,num2,name=2,4,'afkhlka'

print(num1,num2,name)

2 4 afkhlka

## Complex Numbers

In [ ]:
num1= 4 + 7j
num2= 7 + 10j

print(num1+num2)

(11+17j)

In [ ]:
print("Hello word !")

Hello word !

# Operator

## Modulus operator

% is the modulus operator
it returns the remainder value.The first number is greater and second number is smaller we get the remainder
if the second number is greater then we get the first number as the output

In [ ]:
x=4
y=3
print(x%y)

1

In [ ]:
x=4
y=2
print(x%y)

0

In [ ]:
x=3
y=6
print(x%y)

3

In [ ]:
x=2.4
y=6
print(y%x)

1.2000000000000002

In [ ]:
x=2.4
y=6
print(x%y)

2.4

## floor Division

// : symbol

In [ ]:
print(8//3)

2

## Assignment operator





```

 i.    =
 ii.   +=
 iii.  -=
 iv.   *=
 v.    /=
 vi.   %=
 vii.  //=
 viii. **=
```

In [ ]:
x=3
x+=4
print(x)

7

In [ ]:
x=8
x*=10   # => x = x*10
print(x)

80

## Logical Operator

```
i. not
ii. and
iii. or

```

In [ ]:
x=10
print(x==10 and x>3)

True

In [ ]:
x=10
print(not(x==10 and x>3))

False

In [ ]:
print(x>10 or x==10)

True

## Identity Operator

```
i.  is
ii. is not
```

In [ ]:
x=4
y=7
print(x is y)

False

In [ ]:
x=4
y=4
print(x is y)

True

In [ ]:
x=4
y=9
print(x is not y)

True

## Membership Operator

```
i.   in
ii.  not in
```

In [ ]:
box =["cat","tiger","Lion"]
print("cat" in box)

True

In [ ]:
box =["cat","tiger","Lion"]
print("rat" in box)

False

In [ ]:
box =["cat","tiger","Lion"]
print("rat" not in box)

True

In [ ]:
box =["cat","tiger","Lion"]
print("Cat" not in box)

True

## Bitwise Operator

```
i. & (binary and)
ii. | (binary or)
iii. ^ (binary xor)
iv. ~ (negation)
v. << (left shift)
vi. >> (right shift)
```

In [ ]:
x=7
y =6
z= (x & y)
print("x = ",bin(x))
print("y = ",bin(y))
print("z = ",bin(z))

x =  0b111
y =  0b110
z =  0b110

In [ ]:
x=7
y =78
z= (x & y)
print("x = ",bin(x))
print("y = ",bin(y))
print("z = ",bin(z))
print(z)

x =  0b111
y =  0b1001110
z =  0b110
6

In [ ]:
x=7
y =2
z= (x | y)
print("x = ",bin(x))
print("y = ",bin(y))
print("z = ",bin(z))

x =  0b111
y =  0b10
z =  0b111

In [ ]:
x=7
y =2
z= (x ^ y)
print("x = ",bin(x))
print("y = ",bin(y))
print("z = ",bin(z))

x =  0b111
y =  0b10
z =  0b101

In [ ]:
x=7

z= ~x
print("x = ",bin(x))
print("y = ",bin(z))

x =  0b111
y =  -0b1000

In [ ]:
x=7

z= x<<1
print("x = ",bin(x))
print("y = ",bin(z))

x =  0b111
y =  0b1110

In [ ]:
x=7

z= x<<2
print("x = ",bin(x))
print("y = ",bin(z))

x =  0b111
y =  0b11100

In [ ]:
x=7

z= x>>1
print("x = ",bin(x))
print("y = ",bin(z))

x =  0b111
y =  0b11

In [ ]:
x=7

z= x>>2
print("x = ",bin(x))
print("y = ",bin(z))

x =  0b111
y =  0b1

In [ ]:
a = 0b1011
b = 0b1101
print (bin(a&b))

0b1001

# Logical Statement

## Large number

In [ ]:
num_1=float(input("Enter the first number = "))
num_2=float(input("Enter the second number = "))

if(num_1>num_2):
  large = num_1
else:
  large=num_2

print("The largest Number = ",large)

Enter the first number = 45
Enter the second number = 96
The largest Number =  96.0

## Even number or not

In [ ]:
num = int(input("Enter the number : "))

if(num%2 == 0):
  print("The number is even")
else:
  print("The number is odd")

Enter the number : 3
The number is odd

## Calculate the grade

In [ ]:
marks=int(input("Enter the marks obtained "))
if(marks <= 100 and marks >90):
  grade = "A+"
elif(marks <= 90 and marks > 80):
  grade = "A"
elif(marks <= 80 and  marks > 70):
  grade = "B+"
elif(marks <= 70 and marks > 60):
  grade = "B"
elif(marks <= 60 and marks > 50):
  grade = "C"
else:
  print("Enter a valid marks")

if(marks>=50):
  print("Grade : ",grade)

Enter the marks obtained 67
Grade :  B

## Comparing 3 numbers

In [ ]:
num1=float(input("Enter first number "))
num2=float(input("Enter second number "))
num3=float(input("Enter third number "))

if(num1>num2):
  if(num1>num3):
    greater=num1
  else:
    greater=num3
else:
  if(num2>num3):
    greater=num2
  else:
    greater=num3

print("The largest number you entered is = ",greater)

Enter first number 1
Enter second number 2
Enter third number 3
The largest number you entered is =  3.0

## Eligiblility to Vote

In [ ]:
print("This program will determine whether a person is eligible to vote or not")

name=str(input("Enter the name of person \n"))
age=int(input("Enter the age of person \n"))

if(age>=18):
  print(name," is eligible to vote")
else:
  print(name,"is not eligible to vote")
  print("The age should be greater than or equal to 18")

This program will determine whether a person is eligible to vote or not
Enter the name of person
Biru
Enter the age of person
20
Biru  is eligible to vote

# Loop

## While Loop

### Name Printing

In [ ]:
i=1
while(i<=5):
  i=i+1
  print("Rahul")

Rahul
Rahul
Rahul
Rahul
Rahul

### Sum

In [ ]:
i=1
sum=0

while(i<=25):
  sum = sum+i
  i= i+1
  print("Terms = ",i)

print("The Total Sum = ",sum)

Terms =  2
Terms =  3
Terms =  4
Terms =  5
Terms =  6
Terms =  7
Terms =  8
Terms =  9
Terms =  10
Terms =  11
Terms =  12
Terms =  13
Terms =  14
Terms =  15
Terms =  16
Terms =  17
Terms =  18
Terms =  19
Terms =  20
Terms =  21
Terms =  22
Terms =  23
Terms =  24
Terms =  25
Terms =  26
The Total Sum =  325

In [ ]:
sum=0
num=int(input("Enter the number : "))
i=0

while(num!=0):
  temp = num%10
  sum = sum + int(temp)
  num=num/10
  i=i+1
  print("Loop number = ",i)
  print("number = ",num)

print("The sum of the digits is: ",sum)

Enter the number : 532
Loop number =  1
number =  53.2
Loop number =  2
number =  5.32
Loop number =  3
number =  0.532
Loop number =  4
number =  0.053200000000000004
Loop number =  5
number =  0.00532
Loop number =  6
number =  0.000532
Loop number =  7
number =  5.3200000000000006e-05
Loop number =  8
number =  5.320000000000001e-06
Loop number =  9
number =  5.32e-07
Loop number =  10
number =  5.3200000000000007e-08
Loop number =  11
number =  5.320000000000001e-09
Loop number =  12
number =  5.32e-10
Loop number =  13
number =  5.32e-11
Loop number =  14
number =  5.32e-12
Loop number =  15
number =  5.32e-13
Loop number =  16
number =  5.3199999999999997e-14
Loop number =  17
number =  5.32e-15
Loop number =  18
number =  5.32e-16
Loop number =  19
number =  5.3199999999999994e-17
Loop number =  20
number =  5.3199999999999994e-18
Loop number =  21
number =  5.319999999999999e-19
Loop number =  22
number =  5.3199999999999997e-20
Loop number =  23
number =  5.32e-21
Loop number =  24
number =  5.32e-22
Loop number =  25
number =  5.32e-23
Loop number =  26
number =  5.32e-24
Loop number =  27
number =  5.320000000000001e-25
Loop number =  28
number =  5.320000000000001e-26
Loop number =  29
number =  5.320000000000001e-27
Loop number =  30
number =  5.320000000000001e-28
Loop number =  31
number =  5.320000000000002e-29
Loop number =  32
number =  5.320000000000002e-30
Loop number =  33
number =  5.3200000000000015e-31
Loop number =  34
number =  5.320000000000002e-32
Loop number =  35
number =  5.320000000000002e-33
Loop number =  36
number =  5.320000000000002e-34
Loop number =  37
number =  5.320000000000002e-35
Loop number =  38
number =  5.320000000000002e-36
Loop number =  39
number =  5.320000000000002e-37
Loop number =  40
number =  5.320000000000002e-38
Loop number =  41
number =  5.3200000000000015e-39
Loop number =  42
number =  5.320000000000002e-40
Loop number =  43
number =  5.320000000000002e-41
Loop number =  44
number =  5.3200000000000016e-42
Loop number =  45
number =  5.320000000000001e-43
Loop number =  46
number =  5.320000000000001e-44
Loop number =  47
number =  5.320000000000001e-45
Loop number =  48
number =  5.320000000000001e-46
Loop number =  49
number =  5.320000000000001e-47
Loop number =  50
number =  5.320000000000001e-48
Loop number =  51
number =  5.320000000000001e-49
Loop number =  52
number =  5.320000000000001e-50
Loop number =  53
number =  5.320000000000001e-51
Loop number =  54
number =  5.3200000000000006e-52
Loop number =  55
number =  5.320000000000001e-53
Loop number =  56
number =  5.320000000000001e-54
Loop number =  57
number =  5.3200000000000015e-55
Loop number =  58
number =  5.320000000000002e-56
Loop number =  59
number =  5.320000000000002e-57
Loop number =  60
number =  5.3200000000000016e-58
Loop number =  61
number =  5.320000000000002e-59
Loop number =  62
number =  5.320000000000002e-60
Loop number =  63
number =  5.320000000000002e-61
Loop number =  64
number =  5.320000000000002e-62
Loop number =  65
number =  5.320000000000002e-63
Loop number =  66
number =  5.3200000000000016e-64
Loop number =  67
number =  5.320000000000002e-65
Loop number =  68
number =  5.320000000000002e-66
Loop number =  69
number =  5.320000000000002e-67
Loop number =  70
number =  5.3200000000000015e-68
Loop number =  71
number =  5.320000000000002e-69
Loop number =  72
number =  5.320000000000002e-70
Loop number =  73
number =  5.320000000000002e-71
Loop number =  74
number =  5.320000000000002e-72
Loop number =  75
number =  5.320000000000002e-73
Loop number =  76
number =  5.320000000000002e-74
Loop number =  77
number =  5.320000000000002e-75
Loop number =  78
number =  5.320000000000002e-76
Loop number =  79
number =  5.320000000000002e-77
Loop number =  80
number =  5.320000000000002e-78
Loop number =  81
number =  5.320000000000002e-79
Loop number =  82
number =  5.320000000000002e-80
Loop number =  83
number =  5.320000000000002e-81
Loop number =  84
number =  5.320000000000002e-82
Loop number =  85
number =  5.320000000000002e-83
Loop number =  86
number =  5.320000000000002e-84
Loop number =  87
number =  5.320000000000002e-85
Loop number =  88
number =  5.320000000000002e-86
Loop number =  89
number =  5.3200000000000025e-87
Loop number =  90
number =  5.320000000000003e-88
Loop number =  91
number =  5.320000000000003e-89
Loop number =  92
number =  5.320000000000003e-90
Loop number =  93
number =  5.320000000000003e-91
Loop number =  94
number =  5.320000000000003e-92
Loop number =  95
number =  5.320000000000003e-93
Loop number =  96
number =  5.320000000000003e-94
Loop number =  97
number =  5.320000000000003e-95
Loop number =  98
number =  5.320000000000003e-96
Loop number =  99
number =  5.320000000000004e-97
Loop number =  100
number =  5.320000000000004e-98
Loop number =  101
number =  5.320000000000004e-99
Loop number =  102
number =  5.320000000000004e-100
Loop number =  103
number =  5.3200000000000043e-101
Loop number =  104
number =  5.320000000000005e-102
Loop number =  105
number =  5.320000000000005e-103
Loop number =  106
number =  5.320000000000005e-104
Loop number =  107
number =  5.320000000000005e-105
Loop number =  108
number =  5.320000000000004e-106
Loop number =  109
number =  5.3200000000000046e-107
Loop number =  110
number =  5.3200000000000045e-108
Loop number =  111
number =  5.320000000000005e-109
Loop number =  112
number =  5.320000000000005e-110
Loop number =  113
number =  5.320000000000005e-111
Loop number =  114
number =  5.320000000000005e-112
Loop number =  115
number =  5.320000000000005e-113
Loop number =  116
number =  5.320000000000005e-114
Loop number =  117
number =  5.3200000000000045e-115
Loop number =  118
number =  5.320000000000004e-116
Loop number =  119
number =  5.320000000000004e-117
Loop number =  120
number =  5.320000000000004e-118
Loop number =  121
number =  5.320000000000005e-119
Loop number =  122
number =  5.3200000000000046e-120
Loop number =  123
number =  5.320000000000004e-121
Loop number =  124
number =  5.320000000000005e-122
Loop number =  125
number =  5.3200000000000044e-123
Loop number =  126
number =  5.320000000000004e-124
Loop number =  127
number =  5.320000000000005e-125
Loop number =  128
number =  5.320000000000005e-126
Loop number =  129
number =  5.320000000000005e-127
Loop number =  130
number =  5.320000000000005e-128
Loop number =  131
number =  5.320000000000005e-129
Loop number =  132
number =  5.320000000000005e-130
Loop number =  133
number =  5.320000000000005e-131
Loop number =  134
number =  5.320000000000005e-132
Loop number =  135
number =  5.320000000000005e-133
Loop number =  136
number =  5.320000000000005e-134
Loop number =  137
number =  5.320000000000005e-135
Loop number =  138
number =  5.3200000000000054e-136
Loop number =  139
number =  5.320000000000006e-137
Loop number =  140
number =  5.320000000000006e-138
Loop number =  141
number =  5.320000000000006e-139
Loop number =  142
number =  5.320000000000006e-140
Loop number =  143
number =  5.320000000000006e-141
Loop number =  144
number =  5.320000000000007e-142
Loop number =  145
number =  5.320000000000006e-143
Loop number =  146
number =  5.320000000000007e-144
Loop number =  147
number =  5.320000000000007e-145
Loop number =  148
number =  5.320000000000007e-146
Loop number =  149
number =  5.320000000000007e-147
Loop number =  150
number =  5.3200000000000066e-148
Loop number =  151
number =  5.320000000000007e-149
Loop number =  152
number =  5.320000000000006e-150
Loop number =  153
number =  5.3200000000000064e-151
Loop number =  154
number =  5.320000000000006e-152
Loop number =  155
number =  5.320000000000006e-153
Loop number =  156
number =  5.3200000000000066e-154
Loop number =  157
number =  5.320000000000007e-155
Loop number =  158
number =  5.320000000000007e-156
Loop number =  159
number =  5.3200000000000066e-157
Loop number =  160
number =  5.320000000000007e-158
Loop number =  161
number =  5.320000000000007e-159
Loop number =  162
number =  5.320000000000007e-160
Loop number =  163
number =  5.320000000000007e-161
Loop number =  164
number =  5.320000000000006e-162
Loop number =  165
number =  5.3200000000000065e-163
Loop number =  166
number =  5.320000000000006e-164
Loop number =  167
number =  5.320000000000006e-165
Loop number =  168
number =  5.320000000000006e-166
Loop number =  169
number =  5.320000000000006e-167
Loop number =  170
number =  5.320000000000006e-168
Loop number =  171
number =  5.320000000000005e-169
Loop number =  172
number =  5.3200000000000055e-170
Loop number =  173
number =  5.320000000000006e-171
Loop number =  174
number =  5.320000000000005e-172
Loop number =  175
number =  5.3200000000000056e-173
Loop number =  176
number =  5.320000000000006e-174
Loop number =  177
number =  5.320000000000005e-175
Loop number =  178
number =  5.320000000000005e-176
Loop number =  179
number =  5.320000000000006e-177
Loop number =  180
number =  5.320000000000006e-178
Loop number =  181
number =  5.320000000000006e-179
Loop number =  182
number =  5.320000000000006e-180
Loop number =  183
number =  5.320000000000006e-181
Loop number =  184
number =  5.320000000000006e-182
Loop number =  185
number =  5.320000000000006e-183
Loop number =  186
number =  5.320000000000006e-184
Loop number =  187
number =  5.3200000000000067e-185
Loop number =  188
number =  5.320000000000007e-186
Loop number =  189
number =  5.320000000000007e-187
Loop number =  190
number =  5.3200000000000065e-188
Loop number =  191
number =  5.3200000000000065e-189
Loop number =  192
number =  5.320000000000007e-190
Loop number =  193
number =  5.320000000000007e-191
Loop number =  194
number =  5.3200000000000066e-192
Loop number =  195
number =  5.320000000000007e-193
Loop number =  196
number =  5.320000000000007e-194
Loop number =  197
number =  5.320000000000007e-195
Loop number =  198
number =  5.320000000000007e-196
Loop number =  199
number =  5.320000000000007e-197
Loop number =  200
number =  5.320000000000007e-198
Loop number =  201
number =  5.320000000000007e-199
Loop number =  202
number =  5.320000000000007e-200
Loop number =  203
number =  5.320000000000007e-201
Loop number =  204
number =  5.320000000000007e-202
Loop number =  205
number =  5.320000000000007e-203
Loop number =  206
number =  5.3200000000000074e-204
Loop number =  207
number =  5.320000000000007e-205
Loop number =  208
number =  5.320000000000007e-206
Loop number =  209
number =  5.3200000000000075e-207
Loop number =  210
number =  5.320000000000008e-208
Loop number =  211
number =  5.320000000000008e-209
Loop number =  212
number =  5.320000000000008e-210
Loop number =  213
number =  5.320000000000008e-211
Loop number =  214
number =  5.320000000000008e-212
Loop number =  215
number =  5.320000000000007e-213
Loop number =  216
number =  5.320000000000007e-214
Loop number =  217
number =  5.320000000000007e-215
Loop number =  218
number =  5.320000000000007e-216
Loop number =  219
number =  5.320000000000007e-217
Loop number =  220
number =  5.320000000000007e-218
Loop number =  221
number =  5.3200000000000075e-219
Loop number =  222
number =  5.320000000000007e-220
Loop number =  223
number =  5.320000000000007e-221
Loop number =  224
number =  5.320000000000007e-222
Loop number =  225
number =  5.320000000000007e-223
Loop number =  226
number =  5.320000000000007e-224
Loop number =  227
number =  5.320000000000007e-225
Loop number =  228
number =  5.320000000000007e-226
Loop number =  229
number =  5.320000000000007e-227
Loop number =  230
number =  5.320000000000006e-228
Loop number =  231
number =  5.320000000000007e-229
Loop number =  232
number =  5.3200000000000065e-230
Loop number =  233
number =  5.320000000000006e-231
Loop number =  234
number =  5.320000000000006e-232
Loop number =  235
number =  5.320000000000006e-233
Loop number =  236
number =  5.320000000000006e-234
Loop number =  237
number =  5.3200000000000065e-235
Loop number =  238
number =  5.320000000000006e-236
Loop number =  239
number =  5.320000000000006e-237
Loop number =  240
number =  5.320000000000006e-238
Loop number =  241
number =  5.320000000000006e-239
Loop number =  242
number =  5.320000000000006e-240
Loop number =  243
number =  5.320000000000006e-241
Loop number =  244
number =  5.320000000000006e-242
Loop number =  245
number =  5.320000000000006e-243
Loop number =  246
number =  5.320000000000005e-244
Loop number =  247
number =  5.3200000000000055e-245
Loop number =  248
number =  5.320000000000005e-246
Loop number =  249
number =  5.320000000000005e-247
Loop number =  250
number =  5.320000000000005e-248
Loop number =  251
number =  5.320000000000005e-249
Loop number =  252
number =  5.3200000000000046e-250
Loop number =  253
number =  5.3200000000000046e-251
Loop number =  254
number =  5.320000000000004e-252
Loop number =  255
number =  5.3200000000000044e-253
Loop number =  256
number =  5.320000000000005e-254
Loop number =  257
number =  5.3200000000000045e-255
Loop number =  258
number =  5.3200000000000046e-256
Loop number =  259
number =  5.320000000000004e-257
Loop number =  260
number =  5.320000000000004e-258
Loop number =  261
number =  5.320000000000004e-259
Loop number =  262
number =  5.320000000000004e-260
Loop number =  263
number =  5.320000000000004e-261
Loop number =  264
number =  5.320000000000004e-262
Loop number =  265
number =  5.320000000000004e-263
Loop number =  266
number =  5.320000000000004e-264
Loop number =  267
number =  5.320000000000003e-265
Loop number =  268
number =  5.320000000000003e-266
Loop number =  269
number =  5.3200000000000036e-267
Loop number =  270
number =  5.320000000000004e-268
Loop number =  271
number =  5.3200000000000034e-269
Loop number =  272
number =  5.320000000000004e-270
Loop number =  273
number =  5.320000000000003e-271
Loop number =  274
number =  5.320000000000003e-272
Loop number =  275
number =  5.320000000000003e-273
Loop number =  276
number =  5.320000000000003e-274
Loop number =  277
number =  5.3200000000000024e-275
Loop number =  278
number =  5.320000000000002e-276
Loop number =  279
number =  5.320000000000002e-277
Loop number =  280
number =  5.320000000000002e-278
Loop number =  281
number =  5.320000000000002e-279
Loop number =  282
number =  5.320000000000003e-280
Loop number =  283
number =  5.3200000000000025e-281
Loop number =  284
number =  5.320000000000003e-282
Loop number =  285
number =  5.320000000000002e-283
Loop number =  286
number =  5.3200000000000023e-284
Loop number =  287
number =  5.3200000000000025e-285
Loop number =  288
number =  5.320000000000003e-286
Loop number =  289
number =  5.320000000000003e-287
Loop number =  290
number =  5.320000000000003e-288
Loop number =  291
number =  5.320000000000003e-289
Loop number =  292
number =  5.320000000000002e-290
Loop number =  293
number =  5.3200000000000025e-291
Loop number =  294
number =  5.320000000000002e-292
Loop number =  295
number =  5.320000000000002e-293
Loop number =  296
number =  5.320000000000002e-294
Loop number =  297
number =  5.3200000000000016e-295
Loop number =  298
number =  5.320000000000002e-296
Loop number =  299
number =  5.3200000000000014e-297
Loop number =  300
number =  5.3200000000000014e-298
Loop number =  301
number =  5.320000000000002e-299
Loop number =  302
number =  5.320000000000002e-300
Loop number =  303
number =  5.320000000000002e-301
Loop number =  304
number =  5.320000000000002e-302
Loop number =  305
number =  5.3200000000000016e-303
Loop number =  306
number =  5.320000000000001e-304
Loop number =  307
number =  5.320000000000001e-305
Loop number =  308
number =  5.320000000000001e-306
Loop number =  309
number =  5.320000000000001e-307
Loop number =  310
number =  5.320000000000001e-308
Loop number =  311
number =  5.320000000000003e-309
Loop number =  312
number =  5.32e-310
Loop number =  313
number =  5.32e-311
Loop number =  314
number =  5.32e-312
Loop number =  315
number =  5.32000000003e-313
Loop number =  316
number =  5.32e-314
Loop number =  317
number =  5.32e-315
Loop number =  318
number =  5.32e-316
Loop number =  319
number =  5.32e-317
Loop number =  320
number =  5.32e-318
Loop number =  321
number =  5.32e-319
Loop number =  322
number =  5.32e-320
Loop number =  323
number =  5.32e-321
Loop number =  324
number =  5.34e-322
Loop number =  325
number =  5.4e-323
Loop number =  326
number =  5e-324
Loop number =  327
number =  0.0
The sum of the digits is:  10

### Printing Odd Number

In [ ]:
i=1
while(i<50):
  print("Number = ",i)
  i=i+2

Number =  1
Number =  3
Number =  5
Number =  7
Number =  9
Number =  11
Number =  13
Number =  15
Number =  17
Number =  19
Number =  21
Number =  23
Number =  25
Number =  27
Number =  29
Number =  31
Number =  33
Number =  35
Number =  37
Number =  39
Number =  41
Number =  43
Number =  45
Number =  47
Number =  49

## For Loop

### printing

In [ ]:

for i in range(1,10,2):
  print("value of i",i)

value of i 1
value of i 3
value of i 5
value of i 7
value of i 9

### Printing 2

In [ ]:
x = range(0,10,1)
for i in x:
  print("value of i = ",i)

value of i =  0
value of i =  1
value of i =  2
value of i =  3
value of i =  4
value of i =  5
value of i =  6
value of i =  7
value of i =  8
value of i =  9

### Printing 3

In [ ]:
for i in range(10):
  print("Value of i = ",i)

Value of i =  0
Value of i =  1
Value of i =  2
Value of i =  3
Value of i =  4
Value of i =  5
Value of i =  6
Value of i =  7
Value of i =  8
Value of i =  9

### Multiplication Table

In [ ]:
num=int(input("Enter the number : "))
print("The multiplication table of ",num)
for i in range (11):
  print(num," x ",i," = ",num*i)

Enter the number : 3
The multiplication table of  3
3  x  0  =  0
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30

### Factorial

In [ ]:
num=int(input("Enter the number = "))
if(num==0):
  f=1
f=1

for i in range(1,num+1):
  f=f*i

print("The factorial of ",num," = ",f)

Enter the number = 120
The factorial of  120  =  6689502913449127057588118054090372586752746333138029810295671352301633557244962989366874165271984981308157637893214090552534408589408121859898481114389650005964960521256960000000000000000000000000000


## Break

In [ ]:
x = range(0,11)
for i in x:
  print(i)

  if(i==5):
    print("Out of loop")
    break

0
1
2
3
4
5
Out of loop

In [ ]:
s=input("Enter the value of string \n")

for i in s:
  print(i)

  if(i=='c',):
    print("Out of the loop")
    break

Enter the value of string
helicopter
h
e
l
i
c
Out of the loop

## Continue

In [ ]:
x = range(1,12)
for i in x:
  if(i==4):
    print("skip")
    continue

  print(i)

1
2
3
skip
5
6
7
8
9
10
11

In [ ]:
s= input("Enter the string \n")

for i in s:
  if(i=="k"):
    continue
  print(i)

print("End of the loop")

Enter the string
chicken
c
h
i
c
e
n
End of the loop

## Pass

In [ ]:
for i in range (1,20,2):
  print("value of i = ",i)

  if(i==7):
    pass
    print("This is the pass block")

value of i =  1
value of i =  3
value of i =  5
value of i =  7
This is the pass block
value of i =  9
value of i =  11
value of i =  13
value of i =  15
value of i =  17
value of i =  19

## Else

In [ ]:
name = input("Enter the name :\n")
for i in name:
  print(i)
else:
  print("Porcess complete")

Enter the name :
Python
P
y
t
h
o
n
Porcess complete

In [ ]:
i=2

while(i>0):

    i=i-1
    print(i)

1
0

# String

## printing

In [ ]:
print('Hello, World !')
print("Hello, World !")
print(''' Hello World!
Hello World 2
      Hellow World 3''')

Hello, World !
Hello, World !
 Hello World!
Hello World 2
      Hellow World 3

In [ ]:
print('Hello\'s')

Hello's

## Escape Character

In [ ]:
print('How\'s the Josh ! ')

How's the Josh !

In [ ]:
print("\"Hello , How are you \"")

"Hello , How are you "

### Next line

In [ ]:
print("Hello, \n How are you ")

Hello,
 How are you

### Tab

In [ ]:
print("Hello \t How are you ")

Hello 	 How are you

### Roasting

In [ ]:
print(R"Hello \t How are you ")

Hello \t How are you

## Format string

Syntax : format (value, formt specifier)


```
< is used for left justify
> is used for right justify
^ is used for centre alignment
```

In [ ]:
x="Hello World"
print("{:>20}".format(x))

         Hello World

In [ ]:
x="Hello World"
print("{:<20}".format(x))

Hello World

In [ ]:
x="Hello world"
print("{:^20}".format(x))

    Hello world

In [ ]:
print('Hello',format('-','-<10'),'World !')

Hello ---------- World !

In [ ]:
print('Hello',format('.','.<20'),'World')

Hello .................... World

In [ ]:
print("Hello",format('','<20'),"World !")

Hello                      World !

In [ ]:
x= "World"
print("Hello","{:>20}".format("World"))

Hello                World

# Basic Operations of String

## Adding String

In [ ]:
str1 = "Hello "
str2 = "world ! "
str3 = "welcome"
print(str1 + str2 + str3)

Hello world ! welcome

In [ ]:
str1 = "Hello "
str2 = "World ! "
str1 += str2
print(str1)
print(str2)

Hello World !
World !

## fstring

In [ ]:
str1 = "Hello "
str2 = "World !"
fstring = f"{str1}{str2}"
print(fstring)

Hello World !

## loop

In [ ]:
for x in "Switzerland":
  print(x)

S
w
i
t
z
e
r
l
a
n
d

## len function

In [ ]:
str = "Independence"
print(len(str))

12

## in function

In [ ]:
str = "Always work hard for success"
print("work" in str)

True

In [ ]:
str = "Always work hard for sucess"
print("Work " in str)

False

In [ ]:
str = "Be a good kid"
print("bad" in str)

False

In [ ]:
str = "Always work hard for sucess "
if ("work" in str):
  print("Work is present in the string")
else:
  print("Work is not present in the string")

Work is present in the string

In [ ]:
str = "Always work hard for sucess "
if ("cork" in str):
  print("cork is present in the string")
else:
  print("cork is not present in the string")

cork is not present in the string

## Not in

In [ ]:
str = "A home in the lap of Alps mountain ranges"
if("himalaya" not in str):
  print("Himalaya is not present")
else:
  print("Himalaya is prsent")

Himalaya is not present

# String slices, function and methods

## Index

In [ ]:
str1="Hellow World"
print(str1.index("W"))

7

In [ ]:
str1="Hello World !"
print(str1[10])

d

## Slicing

In [ ]:
str1="International "
print(str1[2:10])
print(str1[:10])
print(str1[2:])

ternatio
Internatio
ternational

In [ ]:
str1="International"
print(str1[-7:-3])

atio

## upper and lower

In [ ]:
str1="International"
print(str1.upper())
print(str1.lower())

INTERNATIONAL
international

## endswith

In [ ]:
str1="International"
print(str1.endswith("al"))

True

In [ ]:
str1="International"
print(str1.endswith("la"))

False

## split

In [ ]:
str1="Be a kindful person in this world"
print(str1.split())

['Be', 'a', 'kindful', 'person', 'in', 'this', 'world']

## find

In [ ]:
str1="Be a kindful person in this world !"
print(str1.find("kindful"))

5

## Strip

In [ ]:
str1=" Hello Everyone "
print(str1.strip())

Hello Everyone

## Count

In [ ]:
str1= "This is a nice string"
print(str1.count("nice"))

1

In [ ]:
str1= "This is a nice and nice string"
print(str1.count("nice"))

2

## isalnum

In [ ]:
str1="Enter the number"
print(str1.isalnum())

False

In [ ]:
str1="Enter the number 123"
print(str1.isalnum())

False

In [ ]:
str1="123"
print(str1.isalnum())

True

# List

In [ ]:
first_list=[3,4,5,6,7,8]
print(first_list)

[3, 4, 5, 6, 7, 8]

In [ ]:
second_list=['Pune','ncl','rahul',100,101.0]
print(second_list)

['Pune', 'ncl', 'rahul', 100, 101.0]

## Printing Individual Elements

In [ ]:
list_1=[1,"Bonn","Munich","Berlin","Portsdam"]
print(list_1[0])
print(list_1[0:3])

1
[1, 'Bonn', 'Munich']

## Multidimensional List

In [ ]:
list_1=[["Trivandrum","Kollam","Malappuram","Kozhikode","Ernakulam"],"Paris","Amsterdam"]
print(list_1[0][3])

Kozhikode

## len function

In [ ]:
list_1=[["Trivandrum","Kollam","Malappuram","Kozhikode","Ernakulam"],"Paris","Amsterdam"]
print(len(list_1))

3

In [ ]:
list_1=["Trivandrum","Kollam","Malappuram","Kozhikode","Ernakulam","Paris","Amsterdam"]
print(len(list_1))

7

In [ ]:
list_1=[["Trivandrum","Kollam","Malappuram","Kozhikode","Ernakulam"],"Paris","Amsterdam"]
print(len(list_1[0]))

5

In [ ]:
list_1=[["Trivandrum","Kollam","Malappuram","Kozhikode","Ernakulam"],"Paris","Amsterdam"]
print(len(list_1[0][3]))

9

## Negative index

In [ ]:
list_1=["Trivandrum","Kollam","Malappuram","Kozhikode","Ernakulam","Paris","Amsterdam"]
print(list_1[-1])

Amsterdam

## Cloning of List

In [ ]:
list_a=[1,2,3,4,5,6,7,8,9]
list_b = list_a
print("list_a = ",list_a)
print("list_b = ",list_b)

list_a =  [1, 2, 3, 4, 5, 6, 7, 8, 9]
list_b =  [1, 2, 3, 4, 5, 6, 7, 8, 9]

## loop in a list

In [ ]:
list_1=["Trivandrum","Kollam",[1,3,4,6,7,9],"Malappuram","Kozhikode","Ernakulam","Paris","Amsterdam"]
i = 0
while (i<(len(list_1))):
  print("list_1 [",i,"] = ",list_1[i])
  i+=1

list_1 [ 0 ] =  Trivandrum
list_1 [ 1 ] =  Kollam
list_1 [ 2 ] =  [1, 3, 4, 6, 7, 9]
list_1 [ 3 ] =  Malappuram
list_1 [ 4 ] =  Kozhikode
list_1 [ 5 ] =  Ernakulam
list_1 [ 6 ] =  Paris
list_1 [ 7 ] =  Amsterdam

In [ ]:
list_1=[1,1,1,1,1]
print(list_1)

[1, 1, 1, 1, 1]

In [ ]:
list1 = ['abc', 'zee', 'PYlan']
print (list1[-2][-1])

[23, 44, 56]

In [ ]:
t1 = (1, 2, 4, 3)
t2 = (1, 2, 3, 4)
print(t1 < t2)

False

## Append in list

In [ ]:
fruit_list = ["Apple", "Banana"]

print(f'Current Fruits List {fruit_list}')

new_fruit = input("Please enter a fruit name:\n")

fruit_list.append(new_fruit)

print(f'Updated Fruits List {fruit_list}')

Current Fruits List ['Apple', 'Banana']
Please enter a fruit name:
Apple
Updated Fruits List ['Apple', 'Banana', 'Apple']

# Dictionaries

## Type 1

In [ ]:
dict_1 = {"Key1":'Rahul',
          "Key2" : "Physics",
          "Key3" : "Astrophysics",
          "Key4" : "Biophysics",}

print(dict_1)

{'Key1': 'Rahul', 'Key2': 'Physics', 'Key3': 'Astrophysics', 'Key4': 'Biophysics'}

## dict function

In [ ]:
print(dict([('key_1','Physics'),('key_2','Astrophysics'),('key_3','Biophysics')]))

{'key_1': 'Physics', 'key_2': 'Astrophysics', 'key_3': 'Biophysics'}

## Dictionary Comprehension

In [ ]:
dict_1={x : 3*x for x in range (1,10)}
print(dict_1)

{1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27}

## Empty Dictionary

In [ ]:
dict_2 = {}
print("Empty Dictionary :",dict_2)

Empty Dictionary : {}

## Acessing the dictionary using key

In [ ]:
dict_2={x : x**2 for x in range (1,20)}

print("dict_2[3] :",dict_2[3])
print("dict_2[10] :",dict_2[10])

dict_2[3] : 9
dict_2[10] : 100

In [ ]:
thisdict = {
  "brand": "Maruti",
  "model": "Alto",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Maruti', 'model': 'Alto', 'year': 2020}

## Add items to dictionary

In [ ]:
dit_1 = {"key_1":"Newyork",'key_2':'Paris','key_3': 'London','key_4':'Munich'}

print(dit_1)

dit_1["key_5"] = 'Washington'
dit_1['key_6'] = 'California'

print(dit_1)

{'key_1': 'Newyork', 'key_2': 'Paris', 'key_3': 'London', 'key_4': 'Munich'}
{'key_1': 'Newyork', 'key_2': 'Paris', 'key_3': 'London', 'key_4': 'Munich', 'key_5': 'Washington', 'key_6': 'California'}

## Altering an element in dictionary

In [ ]:
dit_1 = {"key_1":"Newyork",'key_2':'Paris','key_3': 'London','key_4':'Munich'}

print(dit_1)

dit_1['key_1'] = 'Berlin'
dit_1['key_2'] = 'Berkly'

print(dit_1)

{'key_1': 'Newyork', 'key_2': 'Paris', 'key_3': 'London', 'key_4': 'Munich'}
{'key_1': 'Berlin', 'key_2': 'Berkly', 'key_3': 'London', 'key_4': 'Munich'}

## Deleting an element : pop

In [ ]:
dit_1 = {"key_1":"Newyork",'key_2':'Paris','key_3': 'London','key_4':'Munich'}

print(dit_1.pop('key_1'))

Newyork

## Deleting an element : clear

In [ ]:
dit_1 = {"key_1":"Newyork",'key_2':'Paris','key_3': 'London','key_4':'Munich'}

print(dit_1.clear())

None

In [ ]:
dit_1 = {"key_1":"Newyork",'key_2':'Paris','key_3': 'London','key_4':'Munich'}

print(dit_1.clear('key_1'))

TypeError: ignored

## Deleting dictionaries : del

In [ ]:
dit_1 = {"key_1":"Newyork",'key_2':'Paris','key_3': 'London','key_4':'Munich'}

del(dit_1)
print(dit_1)

# This will show error hence the dictionary is deleted

NameError: ignored

## Looping over a dictionary

In [ ]:
dict_1={'key_1': 'Newyork', 'key_2': 'Paris', 'key_3': 'London', 'key_4': 'Munich', 'key_5': 'Washington', 'key_6': 'California'}

for i in dict_1:
  print(dict_1[i])

Newyork
Paris
London
Munich
Washington
California

### values

In [ ]:
dit_1={'key_1': 'Newyork', 'key_2': 'Paris', 'key_3': 'London', 'key_4': 'Munich', 'key_5': 'Washington', 'key_6': 'California'}

for i in dit_1.values():
  print(i)

Newyork
Paris
London
Munich
Washington
California

### items

In [ ]:
dit_1={'key_1': 'Newyork', 'key_2': 'Paris', 'key_3': 'London', 'key_4': 'Munich', 'key_5': 'Washington', 'key_6': 'California'}

for i in dit_1.items():
  print(i)

('key_1', 'Newyork')
('key_2', 'Paris')
('key_3', 'London')
('key_4', 'Munich')
('key_5', 'Washington')
('key_6', 'California')

## Copying a dictionary

In [ ]:
dit_1={'key_1': 'Newyork', 'key_2': 'Paris', 'key_3': 'London', 'key_4': 'Munich', 'key_5': 'Washington', 'key_6': 'California'}

x=dit_1.copy()

print(x)

{'key_1': 'Newyork', 'key_2': 'Paris', 'key_3': 'London', 'key_4': 'Munich', 'key_5': 'Washington', 'key_6': 'California'}

## Storing Values of key in a variable

### get

In [ ]:
dit_1={'key_1': 'Newyork', 'key_2': 'Paris', 'key_3': 'London', 'key_4': 'Munich', 'key_5': 'Washington', 'key_6': 'California'}

x=dit_1.get("key_1")
y=dit_1.get('key_2')

print(x,"\n",y)

Newyork
 Paris

### key : storing key

In [ ]:
dit_1={'key_1': 'Newyork', 'key_2': 'Paris', 'key_3': 'London', 'key_4': 'Munich', 'key_5': 'Washington', 'key_6': 'California'}

x = dit_1.keys()

print(x)

dict_keys(['key_1', 'key_2', 'key_3', 'key_4', 'key_5', 'key_6'])

## Updating a dictionary : update({})

In [ ]:
dit_1={'key_1': 'Newyork', 'key_2': 'Paris', 'key_3': 'London', 'key_4': 'Munich', 'key_5': 'Washington', 'key_6': 'California'}

dit_1.update({'key_7':'stockholm'})
print(dit_1)

{'key_1': 'Newyork', 'key_2': 'Paris', 'key_3': 'London', 'key_4': 'Munich', 'key_5': 'Washington', 'key_6': 'California', 'key_7': 'stockholm'}

# Funciton

## User Defined Functions

In [ ]:
def greet():
  print("Hello World!")


greet()

Hello World!

In [ ]:
def add(m,n):
  return m+n

print(add(4,5))

9

In [ ]:
def add(m,n):
  return m+n

z=add(4,9)
print(z)

13

## Lamda function(Anonymous function)

In [ ]:
z=lambda x: x**2
print(z(3))

z=lambda m,n: m*n
print(z(3,4))

z=lambda m,n,o: (m*n)**o
print(z(1,2,3))

9
12
8

In [ ]:
def myfun(n):
  return lambda x: x**n

one=myfun(3)
print(one(2))

two=myfun(6)
print(two(2))

8
64

## Required Arguments

## Keyword Arguments

In [ ]:
def my_fun(name,course,fee):
  print("name   :",name)
  print("course :",course)
  print("fee    :",fee)

n="Rahul"
c="Physics"
f=25000

my_fun(name=n,fee=f,course=c)

# Order is not important

name   : Rahul
course : Physics
fee    : 25000

## Default Argument

In [ ]:
def student(name,course="MSc Physics"):
  print("Name   :",name)
  print("Course :",course)

student(name="Rahul")

student(name="Rahul",course="Computational Physics")

Name   : Rahul
Course : MSc Physics
Name   : Rahul
Course : Computational Physics

## Variable Length Argument

In [ ]:
def varlen(name,course,*paper):
  print("Name   :",name)
  print("Course :",course)
  for p in paper:
    print("Paper : ",p)


varlen("Rahul","Physics",100,102,103,104,105,106)

Name   : Rahul
Course : Physics
Paper :  100
Paper :  102
Paper :  103
Paper :  104
Paper :  105
Paper :  106

## Global and Local Variables

In [ ]:
key = 3

def hi(x,y):
  key=x*y
  print(key)
  return

print(hi(3,4))
print("Global variable key =",key)

12
None
Global variable key = 3

## Varible length inside function

In [ ]:
def my_fun(*values):
  for i in values:
    print(i**2)



my_fun(20,21,22,23,24,35)

400
441
484
529
576
1225

## Basic Calculator

In [ ]:
def cal(x,y):
  add = x+y
  diff = abs(x-y)
  mul = x*y
  div = x/y
  return add,diff,mul,div

val_1=float(input("Enter the first value"))
val_2=float(input("Enter the second value"))

print(cal(val_1,val_2))

Enter the first value3
Enter the second value5
(8.0, 2.0, 15.0, 0.6)

## Check greater or lesser

In [ ]:
def cal(x,y):
  if(x==y):
    return 0
  elif(x>y):
    return 1
  else:
    return -1

print("Enter the two values")
val1=int(input("Val 1 : "))
val2=int(input("Val 2 : "))

k=cal(val1,val2)

if(k==0):
  print(" x = y " )
elif(k==1):
  print(" x > y ")
else:
  print(" x < y ")

Enter the two values
Val 1 : 5
Val 2 : 9
 x < y

## Factorial

In [ ]:
def fact(x):
  if(x==1 or x==0):
    return 1
  else:
    return x*fact(x-1)

k=int(input("Enter the value for factorial"))

print("Factorial value of ",k," = ",fact(k))

Enter the value for factorial4
Factorial value of  4  =  24

## Check this example

In [ ]:
def outer_fun(x, y):
    def inner_fun(m, n):
        m=6
        return m + n

    return inner_fun(x, y)
    return x

result = outer_fun(15, 10)
print(result)

16

In [ ]:
def myfunc(x):
  return lambda y : y * x

mytripler = myfunc(5)

print(mytripler(10))

50

In [ ]:
a=5
b=6
c=(str(a)+"x^"+str(b))
print(c)

5x^6

In [ ]:
1222
44
24

# Modules

### Module_1

In [ ]:
def fun(name):
    print("Hello "+name)

In [ ]:
#!/usr/bin/env python3

import name_mod

x=str(input("Enter the name "))

name_mod.fun(x)

### Module_2

In [ ]:
#!/usr/bin/env python3

x ={
        "name":"Rahul",
        "course":"Physics",
        "place":"Thiruvananthapuram"
        }

In [ ]:
#!/usr/bin/env python3

import job1_mod

k1=job1_mod.x["name"]
k2=job1_mod.x["course"]
k3=job1_mod.x["place"]

print("Name   :"+k1)
print("Course :"+k2)
print("Place  :"+k3)

### Renaming a module

In [ ]:
#!/usr/bin/env python3

x ={
        "name":"Rahul",
        "course":"Physics",
        "place":"Thiruvananthapuram"
        }

In [ ]:
#!/usr/bin/env python3

import job1_mod as j

x=j.x["name"]
y=j.x["course"]
z=j.x["place"]

print("Name   :"+x)
print("Course :"+y)
print("Place  :"+z)

### calculator module

In [ ]:
#!/usr/bin/env python3

def f1(a,b):
    x=a+b
    return x
def f2(a,b):
    x=a-b
    return x
def f3(a,b):
    x=a*b
    return x
def f4(a,b):
    x=a/b
    return x

In [ ]:
#!/usr/bin/env python3

import cal_mod

print("Enter the first number")
x=float(input())
print("Enter the second number")
y=float(input())

print("Addition    ="+str(cal_mod.f1(x,y)))
print("Difference  ="+str(abs(cal_mod.f2(x,y))))
print("Product     ="+str(cal_mod.f3(x,y)))
print("Division    ="+str(cal_mod.f4(x,y)))

## Importing Module & Working with module and packages.

In [ ]:
import numpy as np
c=dir(np)
print(c)

['ALLOW_THREADS', 'AxisError', 'BUFSIZE', 'CLIP', 'ComplexWarning', 'DataSource', 'ERR_CALL', 'ERR_DEFAULT', 'ERR_IGNORE', 'ERR_LOG', 'ERR_PRINT', 'ERR_RAISE', 'ERR_WARN', 'FLOATING_POINT_SUPPORT', 'FPE_DIVIDEBYZERO', 'FPE_INVALID', 'FPE_OVERFLOW', 'FPE_UNDERFLOW', 'False_', 'Inf', 'Infinity', 'MAXDIMS', 'MAY_SHARE_BOUNDS', 'MAY_SHARE_EXACT', 'ModuleDeprecationWarning', 'NAN', 'NINF', 'NZERO', 'NaN', 'PINF', 'PZERO', 'RAISE', 'RankWarning', 'SHIFT_DIVIDEBYZERO', 'SHIFT_INVALID', 'SHIFT_OVERFLOW', 'SHIFT_UNDERFLOW', 'ScalarType', 'Tester', 'TooHardError', 'True_', 'UFUNC_BUFSIZE_DEFAULT', 'UFUNC_PYVALS_NAME', 'VisibleDeprecationWarning', 'WRAP', '_CopyMode', '_NoValue', '_UFUNC_API', '__NUMPY_SETUP__', '__all__', '__builtins__', '__cached__', '__config__', '__deprecated_attrs__', '__dir__', '__doc__', '__expired_functions__', '__file__', '__getattr__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_add_newdoc_ufunc', '_distributor_init', '_financial_names', '_globals', '_mat', '_pyinstaller_hooks_dir', '_pytesttester', '_version', 'abs', 'absolute', 'add', 'add_docstring', 'add_newdoc', 'add_newdoc_ufunc', 'all', 'allclose', 'alltrue', 'amax', 'amin', 'angle', 'any', 'append', 'apply_along_axis', 'apply_over_axes', 'arange', 'arccos', 'arccosh', 'arcsin', 'arcsinh', 'arctan', 'arctan2', 'arctanh', 'argmax', 'argmin', 'argpartition', 'argsort', 'argwhere', 'around', 'array', 'array2string', 'array_equal', 'array_equiv', 'array_repr', 'array_split', 'array_str', 'asanyarray', 'asarray', 'asarray_chkfinite', 'ascontiguousarray', 'asfarray', 'asfortranarray', 'asmatrix', 'atleast_1d', 'atleast_2d', 'atleast_3d', 'average', 'bartlett', 'base_repr', 'binary_repr', 'bincount', 'bitwise_and', 'bitwise_not', 'bitwise_or', 'bitwise_xor', 'blackman', 'block', 'bmat', 'bool8', 'bool_', 'broadcast', 'broadcast_arrays', 'broadcast_shapes', 'broadcast_to', 'busday_count', 'busday_offset', 'busdaycalendar', 'byte', 'byte_bounds', 'bytes0', 'bytes_', 'c_', 'can_cast', 'cast', 'cbrt', 'cdouble', 'ceil', 'cfloat', 'char', 'character', 'chararray', 'choose', 'clip', 'clongdouble', 'clongfloat', 'column_stack', 'common_type', 'compare_chararrays', 'compat', 'complex128', 'complex256', 'complex64', 'complex_', 'complexfloating', 'compress', 'concatenate', 'conj', 'conjugate', 'convolve', 'copy', 'copysign', 'copyto', 'core', 'corrcoef', 'correlate', 'cos', 'cosh', 'count_nonzero', 'cov', 'cross', 'csingle', 'ctypeslib', 'cumprod', 'cumproduct', 'cumsum', 'datetime64', 'datetime_as_string', 'datetime_data', 'deg2rad', 'degrees', 'delete', 'deprecate', 'deprecate_with_doc', 'diag', 'diag_indices', 'diag_indices_from', 'diagflat', 'diagonal', 'diff', 'digitize', 'disp', 'divide', 'divmod', 'dot', 'double', 'dsplit', 'dstack', 'dtype', 'e', 'ediff1d', 'einsum', 'einsum_path', 'emath', 'empty', 'empty_like', 'equal', 'errstate', 'euler_gamma', 'exp', 'exp2', 'expand_dims', 'expm1', 'extract', 'eye', 'fabs', 'fastCopyAndTranspose', 'fft', 'fill_diagonal', 'find_common_type', 'finfo', 'fix', 'flatiter', 'flatnonzero', 'flexible', 'flip', 'fliplr', 'flipud', 'float128', 'float16', 'float32', 'float64', 'float_', 'float_power', 'floating', 'floor', 'floor_divide', 'fmax', 'fmin', 'fmod', 'format_float_positional', 'format_float_scientific', 'format_parser', 'frexp', 'from_dlpack', 'frombuffer', 'fromfile', 'fromfunction', 'fromiter', 'frompyfunc', 'fromregex', 'fromstring', 'full', 'full_like', 'gcd', 'generic', 'genfromtxt', 'geomspace', 'get_array_wrap', 'get_include', 'get_printoptions', 'getbufsize', 'geterr', 'geterrcall', 'geterrobj', 'gradient', 'greater', 'greater_equal', 'half', 'hamming', 'hanning', 'heaviside', 'histogram', 'histogram2d', 'histogram_bin_edges', 'histogramdd', 'hsplit', 'hstack', 'hypot', 'i0', 'identity', 'iinfo', 'imag', 'in1d', 'index_exp', 'indices', 'inexact', 'inf', 'info', 'infty', 'inner', 'insert', 'int0', 'int16', 'int32', 'int64', 'int8', 'int_', 'intc', 'integer', 'interp', 'intersect1d', 'intp', 'invert', 'is_busday', 'isclose', 'iscomplex', 'iscomplexobj', 'isfinite', 'isfortran', 'isin', 'isinf', 'isnan', 'isnat', 'isneginf', 'isposinf', 'isreal', 'isrealobj', 'isscalar', 'issctype', 'issubclass_', 'issubdtype', 'issubsctype', 'iterable', 'ix_', 'kaiser', 'kernel_version', 'kron', 'lcm', 'ldexp', 'left_shift', 'less', 'less_equal', 'lexsort', 'lib', 'linalg', 'linspace', 'little_endian', 'load', 'loadtxt', 'log', 'log10', 'log1p', 'log2', 'logaddexp', 'logaddexp2', 'logical_and', 'logical_not', 'logical_or', 'logical_xor', 'logspace', 'longcomplex', 'longdouble', 'longfloat', 'longlong', 'lookfor', 'ma', 'mask_indices', 'mat', 'math', 'matmul', 'matrix', 'matrixlib', 'max', 'maximum', 'maximum_sctype', 'may_share_memory', 'mean', 'median', 'memmap', 'meshgrid', 'mgrid', 'min', 'min_scalar_type', 'minimum', 'mintypecode', 'mod', 'modf', 'moveaxis', 'msort', 'multiply', 'nan', 'nan_to_num', 'nanargmax', 'nanargmin', 'nancumprod', 'nancumsum', 'nanmax', 'nanmean', 'nanmedian', 'nanmin', 'nanpercentile', 'nanprod', 'nanquantile', 'nanstd', 'nansum', 'nanvar', 'nbytes', 'ndarray', 'ndenumerate', 'ndim', 'ndindex', 'nditer', 'negative', 'nested_iters', 'newaxis', 'nextafter', 'nonzero', 'not_equal', 'numarray', 'number', 'obj2sctype', 'object0', 'object_', 'ogrid', 'oldnumeric', 'ones', 'ones_like', 'os', 'outer', 'packbits', 'pad', 'partition', 'percentile', 'pi', 'piecewise', 'place', 'poly', 'poly1d', 'polyadd', 'polyder', 'polydiv', 'polyfit', 'polyint', 'polymul', 'polynomial', 'polysub', 'polyval', 'positive', 'power', 'printoptions', 'prod', 'product', 'promote_types', 'ptp', 'put', 'put_along_axis', 'putmask', 'quantile', 'r_', 'rad2deg', 'radians', 'random', 'ravel', 'ravel_multi_index', 'real', 'real_if_close', 'rec', 'recarray', 'recfromcsv', 'recfromtxt', 'reciprocal', 'record', 'remainder', 'repeat', 'require', 'reshape', 'resize', 'result_type', 'right_shift', 'rint', 'roll', 'rollaxis', 'roots', 'rot90', 'round', 'round_', 'row_stack', 's_', 'safe_eval', 'save', 'savetxt', 'savez', 'savez_compressed', 'sctype2char', 'sctypeDict', 'sctypes', 'searchsorted', 'select', 'set_numeric_ops', 'set_printoptions', 'set_string_function', 'setbufsize', 'setdiff1d', 'seterr', 'seterrcall', 'seterrobj', 'setxor1d', 'shape', 'shares_memory', 'short', 'show_config', 'sign', 'signbit', 'signedinteger', 'sin', 'sinc', 'single', 'singlecomplex', 'sinh', 'size', 'sometrue', 'sort', 'sort_complex', 'source', 'spacing', 'split', 'sqrt', 'square', 'squeeze', 'stack', 'std', 'str0', 'str_', 'string_', 'subtract', 'sum', 'swapaxes', 'sys', 'take', 'take_along_axis', 'tan', 'tanh', 'tensordot', 'test', 'testing', 'tile', 'timedelta64', 'trace', 'tracemalloc_domain', 'transpose', 'trapz', 'tri', 'tril', 'tril_indices', 'tril_indices_from', 'trim_zeros', 'triu', 'triu_indices', 'triu_indices_from', 'true_divide', 'trunc', 'typecodes', 'typename', 'ubyte', 'ufunc', 'uint', 'uint0', 'uint16', 'uint32', 'uint64', 'uint8', 'uintc', 'uintp', 'ulonglong', 'unicode_', 'union1d', 'unique', 'unpackbits', 'unravel_index', 'unsignedinteger', 'unwrap', 'use_hugepage', 'ushort', 'vander', 'var', 'vdot', 'vectorize', 'version', 'void', 'void0', 'vsplit', 'vstack', 'warnings', 'where', 'who', 'zeros', 'zeros_like']

# File Opening

## File writing

In [ ]:
#!/usr/bin/env python3

x=open("data.txt","w")

for i in range (0,10,1):
    print("enter the number")
    k=input()
    x.write(k)

x.close()

## File writing 2

In [ ]:
#!/usr/bin/env python3

x=open("dat2.txt","w")

for i in range (0,10,1):
    print("Enter the input")
    k=input()
    x.writelines(k)
    x.writelines("\n")

x.close()

## File appending

In [ ]:
#!/usr/bin/env python3

print("This program will append the file ")

file=input("Enter the file name with .txt extension : ")
x=open(file,"a")

n=int(input("enter the number of lines to enter  : "))

for i in range (0,n,1):
    print("Enter the number")
    y=float(input())
    x.write(str(y))
    x.write(" x ")
    x.write(str(i+1))
    x.write(" = ")
    x.write(str(y*(i+1)))
    x.write("\n")

x.close()

## File reading

In [ ]:
#!/usr/bin/env python3

file=input("Enter the name of file to read : ")

x=open(file,"r")

n=int(input("enter the number of lines : "))

for i in range (1,n+1,1):
    k=x.read(5)
    print(k)

x.close()

## File reading 2

In [ ]:
#!/usr/bin/env python3

file=input("Enter the name of file to read : ")

x=open(file,"r")

n=int(input("enter the number of lines : "))

for i in range (1,n+1,1):
    k=x.read()
    print(k)

x.close()

## File reading 3

In [ ]:
#!/usr/bin/env python3

file=input("Enter the name of file to read : ")

x=open(file,"r")

n=int(input("enter the number of lines : "))

for i in range (1,n+1,1):
    k=x.readline()
    print(k)

x.close()

## File reading 4

In [ ]:
#!/usr/bin/env python3

file=input("Enter the name of file to read : ")

x=open(file,"r")

n=int(input("enter the number of lines : "))

for i in range (1,n+1,1):
    k=x.readlines()
    print(k)

x.close()